h1 {
    font-size: 24px;
    color: #f1356d;
    text-align: center;
    align: center;
    margin: 40px auto;
}

h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 30px;
}

.table-container {
    margin: auto;
    max-width: 1000px;
}

.join-button-container {
    text-align: center;
    align: center;
    margin: 40px auto;
    max-width: 400px;
}

.join-event-button {
    width: 100%;
}

hr {
    max-width: 1000px;
}

.create-event-container {
    margin: auto;
    max-width: 1000px;
}

.create-event-form {
    margin: auto;
    max-width: 600px;
}

label {
    font-weight: 600;
}

